{% extends 'base.html' %}

{% block menu %}
<section class="center">
        <a href="/" class="btn btn-outline-secondary">PRG CHNG</a> <a href="/cc" class="btn btn-outline-secondary active">CC</a> <a href="/cclevel" class="btn btn-outline-secondary">CC LEVEL</a>
</section>
{% endblock %}


{% block script %}
<script>
        var input = $( ".box" ).click(function() {
            var clicked = $(this);
            $.ajax({
                url: "/cctoggle/" + clicked.contents().html(),
                success : function(text) {
                    $("#message").html(text);
                    $("#message").removeClass('d-none');
                }
            })                
        });
</script>
{% endblock %}


