{% extends 'base.html' %}

{% block head %}
<style>
    .level {
        margin: auto;
        height: 10px;
    }
</style>
{% endblock %}

{% block menu %}
<section class="center">
    <a href="/" class="btn btn-outline-secondary">PRG CHNG</a> <a href="/cc" class="btn btn-outline-secondary">CC</a>
    <a href="/cclevel" class="btn btn-outline-secondary active" aria-pressed="true">CC LEVEL</a>
</section>
{% endblock %}

{% block content %}
<div class="container">
    <div id="handle1" class="level"></div>
    <div id="handle2" class="level"></div>
    <div id="handle3" class="level"></div>
</div>
{% endblock %}



{% block script %}
<!----><script src="{{ url_for('static', filename='jquery.ba-throttle-debounce.min.js') }}"></script> -->
<script>
var throttle = new Date();

$("#handle1").roundSlider({
        min: 0,
        max: 127,
        radius: 80,
        circleShape: "pie",
        sliderType: "min-range",
        showTooltip: true,
        editableTooltip: false,
        value: 50,
        startAngle: 315,
        drag: "traceEvent",
        tooltipFormat: "tooltipLevel1"
    });

    $("#handle2").roundSlider({
        min: 0,
        max: 127,
        radius: 80,
        circleShape: "pie",
        sliderType: "min-range",
        showTooltip: true,
        editableTooltip: false,
        value: 50,
        startAngle: 315,
        drag: "traceEvent",
        tooltipFormat: "tooltipLevel2"

    });

    $("#handle3").roundSlider({
        min: 0,
        max: 127,
        radius: 80,
        circleShape: "pie",
        sliderType: "min-range",
        showTooltip: true,
        editableTooltip: false,
        value: 50,
        startAngle: 315,
        drag: "traceEvent",
        tooltipFormat: "tooltipLevel3"

    });



    function traceEvent(e) {
            var a = new Date();
            temp = a-throttle;
            if (temp < 100) {
                return;
            }
            throttle = a;
            var url = "/ccset/" + e.id.match(/\d+/)[0] + "/" + e.value;
            $.ajax({
            url: url,
                success : function(text) {
                    $("#message").html(text);
                    $("#message").removeClass('d-none');

            }
            });
    }

    function tooltipLevel1(args) {
        return "REVERB <br>" + args.value;
    }

    function tooltipLevel2(args) {
        return "DELAY <br>" + args.value;
    }

    function tooltipLevel3(args) {
        return "CUSTOM <br>" + args.value;
    }
</script>
{% endblock %}