.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  touch-action: none;
}

body {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}